---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import { Image } from "astro:assets";
import heroImg from "../assets/images/bg-hero.webp";
import soundOn from "../assets/images/sound-on.webp";
import krig from "../assets/images/krig.webp";
import venner from "./public/Baggrund-venner.webp";


function changeImage(){
  document.getElementById("audio-global-mute").style.visibility = 'hidden';
  document.getElementById("audio-global").style.visibility = 'visible';
} 

---

<MainLayout title="Forside | Dansk Hestevæddeløb">
<!-- Hero -->
    <section class="bg-green-100 py-0">
        <div id="audio-global" class="flex justify-end playing">
            <img src="/sound-on.webp" alt="Lyd" loading="lazy" class="z-10 fixed cursor-pointer w-20 mt-10 mr-4  hidden" @click="$refs.trykforatafspillelyd.play()" id="audio-global" onclick="changeImage()"></img>

            <img src="/sound-off.webp" alt="Lyd" loading="lazy" class="z-10 fixed cursor-pointer w-20 mt-10 mr-4" @click="$refs.trykforatafspillelyd.play()" id="audio-global-mute" onclick="changeImage()"></img>
        </div>

        <h1 class="px-4 text-5xl mt-14 text-green-400 barlow-condensed-bold">Fællesskabet venter...</h1>
        <Image class="" src={heroImg} alt="publikum med hatte på"></Image>

        <div class="absolute top-72 right-4">
            <script is:inline src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
            <dotlottie-player src="https://lottie.host/de828805-50bd-4083-bbbb-04984803e2f8/BX8pAFajRI.json" background="transparent" speed="2.5" style="width: 420px; height: 420px" loop autoplay></dotlottie-player>
        </div>

    </section>

        <div class="h-64 bg-gradient-to-b from-green-100 to-red-100"></div>

<!--Dronning sektion -->
    <section class="bg-red-100" id="lydeffekter" x-data="">
        <audio x-ref="trykforatafspillelyd" loop autoplay class="z-100">
            <source src="https://lna-mediedesign.dk/sound-dronning.mp3" type="audio/mp3">
        </audio>

        <div class="scrollzoom overflow-clip bg-cover">
         <div class= "sticky top-48 left-0 right-0 bottom-0 h-cover bg-cover bg-center walkinview scrollzoomimg" style="background-image: url('/baggrund-dronning.webp')">
            <img class="flex flex-col w-96 md:w-1/2 h-full justify-center p-4 walk1 pt-48 animate-[walking_5s_ease-in-out_infinite]" src="/src/assets/images/dronning.svg" alt="Dronning Caroline Mathilde"/>
         </div>

         <div>
         <div class="relative flex justify-end"><!-- relative elementet -->
            <div class="flex flex-col w-full md:w-1/2 h-full justify-center gap-4 p-4 ">
                <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mb-96">
                    <p class="text-center font-display">Året er 1771... Vi befinder os i Københavns Fælled. For første gang på dansk jord, afholdes Hestevæddeløb.</p>
                </div>
                <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mb-96 mt-40">
                    <p class="text-center font-display">Dette er Dronning Caroline Mathilde... </p>
                </div>
                <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mb-96 mt-40">
                    <p class="text-center font-display">hun står der med et smil, og i hendes øjne ser hun et glimt af hendes drøm. Hun har bragt ideen med sig fra England – et land hvor hestevæddeløb ikke bare er en sport, men en livsstil.</p>
                </div>
                <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mt-40 mb-96">
                    <p class="text-center font-display">Men hør nu... det bliver ikke nemt.</p>
                </div>
            </div>
        </div>
        <div class="h-[80vh]"></div>
        </div>
        </div>
     </section>


<!-- Krig og forræderi -->
    <section class="">
        <div class="crossfadeimages h-screen lg:w-screen">
            <div class="h-screen bg-red-400 crossfadetopimg object-cover"></div>
            <Image class="sticky top-0 left-0 right-0 bottom-0 w-100 bg-cover bg-center object-cover h-screen z-0 my-0 crossfadebottomimg" src={krig} alt="Krig og forræderi"></Image> 
        </div>

     <Image class="sticky top-0 left-0 right-0 bottom-0 w-100 bg-cover bg-center object-cover h-screen z-0 my-0 crossfadebottomimg" src={krig} alt="Krig og forræderi"></Image>

        <div class="relative flex justify-end"><!-- relative elementet -->
            <div class="flex flex-col w-full md:w-1/2 h-full justify-center gap-4 p-4 ">

                <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mb-[600px]">
                    <p class="text-center font-display">Forræderi og krig truer landet.</p>
                </div>

                <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mb-[600px]">
                    <p class="text-center font-display">Ingen ved, om denne sport nogensinde vil slå rødder i Danmark..</p>
                </div>

                <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mb-[800px]">
                    <p class="text-center font-display">Men én ting er sikkert: det første løb er kun begyndelsen..</p>
                </div>
            </div>
        </div>
     </section>

<!-- 1954 -->
     <section class="bg-brown-100">

        <div class="flex items-center h-screen w-100 bg-cover bg-center sticky top-0" style="background-image: url('mennesker.webp')" >
            <p class="mx-10 lg:w-1/4 lg:ml-64 p-10 bg-black-100/75 text-white-100 text-[18px] stickyparallax1 ">Vi befinder os nu i år 1954. Der er gået næsten 180 år. Tiden har talt, og hestevæddeløb har fået et fast greb om det danske folk.</p>
        </div>

    
        <div class="h-screen bg-brown-100 flex items-center w-100 bg-cover bg-center sticky top-0">
            <div class="flex items-center h-screen w-100 bg-cover bg-center sticky top-0 look1 animate-[looking_5s_ease-in-out_infinite]" style="background-image: url('folk.svg')" >
            <p class="mx-10 mt-24 lg:w-1/4 lg:ml-64 p-10 bg-black-100/75 text-white-100 text-[18px] stickyparallax1">Kig omkring dig. Hver en person er her for én ting: at være en del af noget stort, noget magisk.</p>
        </div>
        </div>

    <div class="flex items-center h-screen w-100 bg-cover bg-center sticky top-0" style="background-image: url('Baggrund-venner.webp')" >
        <p class="mx-10 lg:w-1/4 lg:ml-64 p-10 bg-black-100/75 text-white-100 text-[18px] stickyparallax1 "> Folk er her ikke kun for hestevæddeløb... de er her for fællesskabet!</p>
    </div>


    <div class="crossfadeimages h-screen lg:w-screen">
        <Image class="h-screen crossfadetopimg object-cover" src={venner}  alt="venner holder om hinanden"></Image>
        <Image class="sticky top-0 left-0 right-0 bottom-0 w-100 bg-cover bg-center object-cover h-screen z-0 my-0 crossfadebottomimg" src={krig} alt="Krig og forræderi"></Image> 
    </div>
     </section>


<!-- Animations -->
     <section>

        <script is:inline src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
        <dotlottie-player src="https://lottie.host/33b57535-d5de-42f0-b1d7-1903d297de44/xE7bYHCiS0.json" background="transparent" speed="2.5" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>

        <script is:inline src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
        <dotlottie-player src="https://lottie.host/0b47570c-647e-4616-957f-a868ab994562/HIJPTb6s1a.json" background="transparent" speed="3.5" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>

        

     </section>
</MainLayout>


<script>
    import { animate, inView, scroll } from "motion";

    inView( ".walkinview", () =>{
    animate( ".walk1", { x: [0, 0 ], y: [0, 50 ] }, { duration: 1 }) 
    

    return () => {
        animate( ".walk1", { x: [0, 0 ], y: [0, 50 ] }, { duration: 1 })
    }
    })

    inView( ".lookinview", () =>{
    animate( ".look1", { x: [0, 0 ], y: [0, 50 ] }, { duration: 1 }) 
    

    return () => {
        animate( ".look1", { x: [0, 0 ], y: [0, 50 ] }, { duration: 1 })
    }
    })

    scroll(
    animate(".scrollzoomimg", { 
        scale: [1, 20]    
    }),
    { 
      target: document.querySelector(".scrollzoom"),
      offset: ["0.90 end", "end end"]
    }
    )

    /* Crossfade to billeder */
    scroll(
    animate(".crossfadebottomimg", {
        opacity: [1, 0]
    }), {
        target: document.querySelector(".crossfadeimages"),
        offset: ["25vh", "-2vh"]
    }
    );

    scroll(animate(".stickyparallax1", { y: [-300, 0] }), {
		target: document.querySelector(".stickyparallax1"),
	});

</script>

