---
import { Image } from "astro:assets";
import publikum from "./public/publikum.webp";
import publikumMobile from "./public/publikum-mobil.webp";
import publikumStorMobile from "./public/publikum-stor-mobil.webp";
import publikumBilletMobile from "./public/publikum-billet-mobil.webp";
import billetMobile from "./public/billet-mobil.webp";
import billetZoomMobile from "./public/billet-zoom-mobil.webp";
import solidMobile from "./public/solid-mobil.webp";
---


<div class="overflow-clip bg-red-100">
    <section id="horisontalscrollsection" class="h-[2000vw]">
        <ul id="horisontalliste" class="list-none pl-0 flex sticky top-[0vh]">
        <li class="pl-0 flex w-[100vw] h-screen items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><Image src={publikumMobile} class="w-full" alt="foto" /></li>

        <li class="pl-0 flex w-[100vw] h-screen items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><Image src={solidMobile} class="w-full" alt="foto" /></li>

        <li class="flex w-[100vw] h-screen items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><Image src={publikumStorMobile} class="w-full" alt="foto" /></li>

        <li class="pl-0 flex w-[100vw] h-screen items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><Image src={solidMobile} class="w-full" alt="foto" /></li>

        <li class="flex w-[100vw] h-screen items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><Image src={publikumBilletMobile} class="w-full" alt="foto" /></li>

        <li class="pl-0 flex w-[100vw] h-screen items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><Image src={solidMobile} class="w-full" alt="foto" /></li>

        <li class="flex w-[100vw] h-screen items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto sticky"><Image src={billetMobile} class="w-full " alt="foto"/></li>

        <li class="pl-0 flex w-[100vw] h-screen items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><Image src={solidMobile} class="w-full" alt="foto" /></li>


        <li class="flex w-[100vw] h-screen items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto sticky"><Image src={billetZoomMobile} class="w-full " alt="foto" />

            <!-- Button -->
            <div class="absolute inset-0 flex items-center justify-center z-30 top-[10%] lg:top-[20%]">
                <a href="/scrollytelling" class="font-sans mx-8 py-5 px-14 bg-red-400 hover:bg-red-400 text-red-100 hover:text-[#FBDED3] text-center barlow-condensed-bold uppercase text-4xl lg:text-3xl justify-center rounded-md drop-shadow-md transition duration-400 ease-in-out">
                Køb nu
                </a>
            </div>
        </li>
        </ul>


    </section>
</div>



<script>
     import { animate, scroll } from "motion";

    /* Horisontal scroll sektion */
	scroll(
	animate("#horisontalliste", {
		transform: ["none", "translateX(-800vw)"]
	}),
	{ target: document.querySelector("#horisontalscrollsection") }
	); 
	
</script>
	