---
import { Image } from "astro:assets";
import bgHestNedefra from "../assets/images/Baggrund-hest-nedefra.webp";
import bgHestNedefraMobil from "../assets/images/hest-nedefra-mobil.webp";
import hestNedefra from "../assets/images/hest-nedefra.svg";
import hat from "/public/hat.svg"
---

<!--
<section class="overflow-clip relative bg-brown-100">
    <div class="sticky">
     Mobil version, der bliver sticky
        <Image 
            src={bgHestNedefraMobil} 
            alt="træer set nedefra" 
            class="lg:hidden sticky top-48 left-0 right-0 bottom-0 h-full bg-cover bg-center lg:w-full lg:h-full lg:mt-20 lg:top-0 jumpinview hatinview"
        />

    Desktop version, der bliver sticky
        <Image 
            src={bgHestNedefra} 
            alt="træer set nedefra" 
            class="hidden lg:block sticky top-48 left-0 right-0 bottom-0 h-full bg-cover bg-center lg:w-full lg:h-full lg:mt-20 lg:top-0 jumpinview hatinview"
        />
    </div>
    
   Hest-billeder, der bevæger sig (absolut position) 
    <Image 
        src={hestNedefra} 
        alt="hest kommer løbende set nedefra" 
        class="absolute top-48 left-1/2 transform -translate-x-1/2 w-36 lg:w-64 lg:mx-48 h-auto z-10 jump1 animate-[jump_10s_ease-in-out_infinite]"
    />

    <Image 
        src={hestNedefra} 
        alt="hest kommer løbende set nedefra" 
        class="absolute top-48 left-1/4 transform -translate-x-1/2 w-36 lg:w-64 lg:mx-48 h-auto z-10 jump2 animate-[jump_10s_ease-in-out_infinite]"
    />

     Hat-billede, der bevæger sig 
    <Image 
        src={hat} 
        alt="hat" 
        class="absolute top-48 left-1/4 transform -translate-x-1/2 w-36 lg:w-64 lg:mx-48 h-auto z-10 hat animate-[hat_5s_ease-in-out_infinite]"
    />
</section>

-->


<!-- Ny kode -->

<section id="section4" class="bg-brown-100 pt-10 lg:-mt-[800px]">

    <!-- Mobil video -->
    <div class="lg:hidden videocontainer sticky top-[10%] w-full h-screen">
      <video muted loop playsinline class="w-full" id="videofil-mobil4">
          <source src="https://lna-mediedesign.dk/hest-nede-mobil.mp4" type="video/mp4">
          <source src="https://lna-mediedesign.dk/hest-nede-mobile.webm" type="video/webm">
      </video>
    </div>
    <div class="h-screen videoscroller4"></div>
  
    <!-- Desktop video -->
    <div class="hidden lg:block videocontainer sticky top-[0%] w-full">
      <video muted loop class="w-full" id="videofil-desktop4">
          <source src="https://lna-mediedesign.dk/hest-nede.mp4" type="video/mp4">
          <source src="https://lna-mediedesign.dk/hest-nede-mobil.webm" type="video/webm">
      </video>
    </div>
    <div class="h-screen videoscrollerdesktop4"></div>
  
  </section>
  
  